.App {
  text-align: center;
  height: 100vh;
}

.content {
  max-width: 60%;
  margin: 0 auto;
}

.prizecontainer {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.itemcard {
  margin: 10px;
}

.actionContainer {
  display: flex;
  justify-content: space-around;
}

.userContainer,
.ownerContainer {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px; 
}

.userContainer button,
.ownerContainer button {
  display: block; 
  margin-right: 0; 
}

button {
  margin-top: 10px;
  padding: 10px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.revealButton,
.winnerButton {
  background-color: skyblue;
  color: #fff; 
}

.withdrawButton,
.declareButton,
.newCycleButton {
  background-color: lightgreen;
  color: #fff;
}

.destroyButton {
  background-color: rgb(255, 53, 53);
  color: #fff; 
}

.revealButton:hover,
.winnerButton:hover {
  background-color: #4e6c88; 
}

.withdrawButton:hover,
.declareButton:hover,
.newCycleButton:hover {
  background-color: #4e804f; 
}

.destroyButton:hover {
  background-color: #871111; 
}

.userContainer button,
.ownerContainer button {
  display: block; 
  margin-right: 0; 
}

.connectWalletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.walletConnectBtn {
  background-color: rgb(0, 140, 255);
  color: #fff;
}

.winnerButton:disabled,
.declareButton:disabled,
.withdrawButton:disabled,
.newCycleButton:disabled,
.destroyButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
